.gradle
.kotlin
*.iml
.gradle**/build/
xcuserdata
!src/**/build/
**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
samples/testapp/iosApp/DeveloperConfig.xcconfig
