#content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#mdoc-uri-text, #response-display {
    overflow-wrap:break-word;
}

#buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}