asn1crypto==1.4.0
cbor==1.0.0
certifi==2022.12.7
cffi==1.14.5
chardet==4.0.0
cryptography==39.0.1
idna==2.10
Naked==0.1.31
pycparser==2.20
pycryptodome==3.10.1
pycryptodomex==3.10.1
PyYAML==5.4.1
requests==2.25.1
shellescape==3.8.1
tornado==6.1
urllib3==1.26.5
