<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

    <servlet>
        <display-name>CsaServlet</display-name>
        <servlet-name>CsaServlet</servlet-name>
        <servlet-class>org.multipaz.wallet.server.CloudSecureAreaServlet</servlet-class>
        <load-on-startup>0</load-on-startup>

        <init-param>
            <param-name>androidRequireGmsAttestation</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>androidRequireVerifiedBootGreen</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>androidRequireAppSignatureCertificateDigests</param-name>
            <param-value></param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>CsaServlet</servlet-name>
        <url-pattern>/csa</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>VerifierServlet</display-name>
        <servlet-name>VerifierServlet</servlet-name>
        <servlet-class>org.multipaz.wallet.server.VerifierServlet</servlet-class>
        <load-on-startup>0</load-on-startup>

        <init-param>
            <!-- The Base URL to send to clients. This should be configured to whatever
                 hostname the HTTP server has been configured with, for example

                  https://something.example.com/verifier

                 If left blank the IP address of the server is used *without* TLS, for example

                   http://192.168.42.42:8080/server.

                 This of course isn't secure at all but it does mean that the verifier
                 works out of the box for development without any configuration.
            -->
            <param-name>verifierBaseUrl</param-name>
            <param-value></param-value>
        </init-param>

        <init-param>
            <!-- The ClientID to use, without the client_id_scheme prefix.
                 If left blank the value of `verifierBaseUrl` is used.
             -->
            <param-name>verifierClientId</param-name>
            <param-value></param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>VerifierServlet</servlet-name>
        <url-pattern>/verifier</url-pattern>
        <url-pattern>/verifier/*</url-pattern>
    </servlet-mapping>

    <!-- This is required to serve the files in the webapp directory -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
